.font-bloo{
    font-family: $font-baloo;
}
.font-rale{
    font-family: $font-baloo;
}
.font-rubik{
    font-family: $font-rubik;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-20{
    font-size: 20px;
}
//CUSTOM COLORS
.color-primary{
    color:$color-primary
}
.color-primary-bg{
    background-color:$color-primary;
}
.color-second{
    color:$color-second
}
.color-second-bg{
    background-color:$color-second;
}
.color-yellow{
    color:$color-yellow
}
.color-yellow-bg{
    background-color:$color-yellow;
}
